---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Genshin impact fans">
  <div class="absolute top-0 w-full h-screen overflow-hidden">
    <svg
      id="patternId"
      width="100%"
      height="100%"
      xmlns="http://www.w3.org/2000/svg"
      ><defs
        ><pattern
          id="a"
          patternUnits="userSpaceOnUse"
          width="22.5"
          height="22.5"
          patternTransform="scale(5) rotate(0)"
          ><rect
            class="fill-white dark:fill-neutral-950"
            x="0"
            y="0"
            width="100%"
            height="100%"></rect><path
            class="dark:stroke-neutral-50/10"
            d="M 10,-2.55e-7 V 20 Z M -1.1677362e-8,10 H 20 Z"
            transform="translate(1.25,0)"
            stroke-width="0.2"
            stroke="hsla(199, 89%, 48%, 0.1)"
            fill="none"></path></pattern
        ></defs
      ><rect
        width="800%"
        height="800%"
        transform="translate(0,0)"
        fill="url(#a)"></rect></svg
    >
  </div>

  <div
    style="min-height: calc(100vh - 80px);"
    class="flex flex-col gap-14 max-w-sm md:max-w-2xl mx-auto lg:max-w-5xl pt-20 relative"
  >
    <div class="h-fit">
      <div></div>
      <h2
        class="font-bold text-8xl flex flex-col items-center dark:text-neutral-50"
      >
        Genshin Impact <p
          class="bg-gradient-to-t from-[#3b82f6] to-[#38bdf8] bg-clip-text text-8xl text-transparent capitalize text-center h-[120px]"
        >
          fans Page
        </p>
      </h2>
      <p
        class="text-xl font-semibold text-neutral-700 max-w-lg text-center mx-auto mt-5 dark:text-neutral-400"
      >
        Descubre los personajes y armas que Genshin impact trae para ti, con el
        estilo que los caracteriza
      </p>
    </div>

    <div class="grid grid-cols-2 gap-5 h-fit">
      <a
        href="/characters"
        class="p-2 border-2 border-neutral-100 rounded-xl bg-gradient-to-b from-neutral-50 to-white hover:border-gray-200 hover:shadow-lg hover:-translate-y-1 transition-all shadow-lg shadow-neutral-100
        dark:border-neutral-700 dark:shadow-none dark:to-neutral-900 dark:from-neutral-900"
      >
        <div
          class="w-full h-full rounded-xl flex flex-col overflow-hidden relative cursor-pointer p-5 bg-white hover:bg-gradient-to-b hover:from-white hover:to-neutral-100/80
          dark:bg-gradient-to-b dark:from-neutral-800 dark:to-neutral-900 dark:hover:from-neutral-800 dark:hover:to-neutral-950"
        >
          <div class="relative text-blue-500">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-users"
              width="70"
              height="70"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M9 7m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path><path
                d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path><path
                d="M16 3.13a4 4 0 0 1 0 7.75"></path><path
                d="M21 21v-2a4 4 0 0 0 -3 -3.85"></path></svg
            >
          </div>
          <h2
            class="font-semibold text-xl tracking-tight mt-2 dark:text-neutral-100"
          >
            Characters Gallery
          </h2>
          <p class="w-full text-neutral-600 text-sm mt-2 dark:text-neutral-400">
            Aquí encontrarás una guía detallada de los personajes, incluyendo
            sus descripciones y habilidades, todo presentado de manera
            simplificada para que puedas dominar tu juego favorito fácilmente.
          </p>
        </div></a
      >
      <a
        href="/weapons"
        class="p-2 border-2 border-neutral-100 rounded-xl bg-gradient-to-b from-neutral-50 to-white hover:border-gray-200 hover:shadow-lg hover:-translate-y-1 transition-all shadow-lg shadow-neutral-100
        dark:border-neutral-700 dark:shadow-none dark:to-neutral-900 dark:from-neutral-900"
      >
        <div
          class="w-full h-full rounded-xl flex flex-col overflow-hidden relative cursor-pointer p-5 bg-white hover:bg-gradient-to-b hover:from-white hover:to-neutral-100/80
          dark:bg-gradient-to-b dark:from-neutral-800 dark:to-neutral-900 dark:hover:from-neutral-800 dark:hover:to-neutral-950"
        >
          <div class="relative text-blue-500">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-swords"
              width="70"
              height="70"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M21 3v5l-11 9l-4 4l-3 -3l4 -4l9 -11z"></path><path
                d="M5 13l6 6"></path><path
                d="M14.32 17.32l3.68 3.68l3 -3l-3.365 -3.365"></path><path
                d="M10 5.5l-2 -2.5h-5v5l3 2.5"></path></svg
            >
          </div>
          <h2 class="font-semibold text-xl tracking-tight mt-2 dark:text-neutral-100">
            Weapons Gallery
          </h2>
          <p class="w-full text-neutral-600 text-sm mt-2 dark:text-neutral-400">
            Encuentra una guía detallada de las armas de tus personajes
            favoritos, con sus descripciones y daño
          </p>
        </div></a
      >
    </div>
  </div>

  <div
    class="p-10 ring-1 ring-neutral-200 z-20 w-full mt-5 relative overflow-hidden flex justify-center bg-white dark:bg-neutral-900"
  >
    <div class="flex flex-col justify-center w-fit relative z-10">
      <div class="flex flex-col items-center">
        <a
          href="https://danielmosvich-portafolio.vercel.app"
          target="_blank"
          class="font-[900] text-2xl tracking-widest bg-gradient-to-t from-black to-neutral-500 bg-clip-text text-transparent select-none"
        >
          DANIRAY
        </a>
        <p
          class="border-t-2 border-black mt-2 pt-2 text-sm text-black font-[500]"
        >
          make with love for you
        </p>
      </div>
      <div class="flex gap-3 mt-2 items-center justify-center">
        <a
          class="hover:scale-110"
          href="https://twitter.com/danielmosvich"
          target="_blank"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-brand-x"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M4 4l11.733 16h4.267l-11.733 -16z"></path><path
              d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772"></path></svg
          >
        </a>
        <a
          class="hover:scale-110"
          href="https://github.com/danielMosvich"
          target="_blank"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-brand-github-filled"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M5.315 2.1c.791 -.113 1.9 .145 3.333 .966l.272 .161l.16 .1l.397 -.083a13.3 13.3 0 0 1 4.59 -.08l.456 .08l.396 .083l.161 -.1c1.385 -.84 2.487 -1.17 3.322 -1.148l.164 .008l.147 .017l.076 .014l.05 .011l.144 .047a1 1 0 0 1 .53 .514a5.2 5.2 0 0 1 .397 2.91l-.047 .267l-.046 .196l.123 .163c.574 .795 .93 1.728 1.03 2.707l.023 .295l.007 .272c0 3.855 -1.659 5.883 -4.644 6.68l-.245 .061l-.132 .029l.014 .161l.008 .157l.004 .365l-.002 .213l-.003 3.834a1 1 0 0 1 -.883 .993l-.117 .007h-6a1 1 0 0 1 -.993 -.883l-.007 -.117v-.734c-1.818 .26 -3.03 -.424 -4.11 -1.878l-.535 -.766c-.28 -.396 -.455 -.579 -.589 -.644l-.048 -.019a1 1 0 0 1 .564 -1.918c.642 .188 1.074 .568 1.57 1.239l.538 .769c.76 1.079 1.36 1.459 2.609 1.191l.001 -.678l-.018 -.168a5.03 5.03 0 0 1 -.021 -.824l.017 -.185l.019 -.12l-.108 -.024c-2.976 -.71 -4.703 -2.573 -4.875 -6.139l-.01 -.31l-.004 -.292a5.6 5.6 0 0 1 .908 -3.051l.152 -.222l.122 -.163l-.045 -.196a5.2 5.2 0 0 1 .145 -2.642l.1 -.282l.106 -.253a1 1 0 0 1 .529 -.514l.144 -.047l.154 -.03z"
              stroke-width="0"
              fill="currentColor"></path></svg
          >
        </a>
        <a
          class="hover:scale-110"
          href="https://github.com/danielMosvich"
          target="_blank"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-brand-linkedin"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
            ></path><path d="M8 11l0 5"></path><path d="M8 8l0 .01"></path><path
              d="M12 16l0 -5"></path><path d="M16 16v-3a2 2 0 0 0 -4 0"
            ></path></svg
          >
        </a>
      </div>
    </div>
    <div class="w-full absolute left-0 top-0 opacity-90">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        version="1.1"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 800 450"
        opacity="0.53"
        ><defs
          ><filter
            id="bbblurry-filter"
            x="-100%"
            y="-100%"
            width="400%"
            height="400%"
            filterUnits="objectBoundingBox"
            primitiveUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB"
          >
            <feGaussianBlur
              stdDeviation="38"
              x="0%"
              y="0%"
              width="100%"
              height="100%"
              in="SourceGraphic"
              edgeMode="none"
              result="blur"></feGaussianBlur></filter
          ></defs
        ><g filter="url(#bbblurry-filter)"
          ><ellipse
            rx="96"
            ry="116"
            cx="496.1591269753196"
            cy="187.87233803488994"
            fill="#06b6d4"></ellipse><ellipse
            rx="96"
            ry="116"
            cx="248.31357782537282"
            cy="197.10716247558594"
            fill="#3b82f6"></ellipse><ellipse
            rx="96"
            ry="116"
            cx="391.3940346457741"
            cy="160.73111932927912"
            fill="#1e40af"></ellipse><ellipse
            rx="96"
            ry="116"
            cx="396.5401528098366"
            cy="217.11659656871444"
            fill="#06b6d4"></ellipse></g
        ></svg
      >
    </div>
  </div>
</Layout>
