---
const { link } = Astro.props;
---

<a
  href={link}
  class="font-semibold flex items-center px-3 py-2 gap-3 rounded-lg capitalize text-neutral-600 hover:text-black transition-all hover:shadow-md hover:shadow-neutral-100 hover:bg-gradient-to-t hover:from-white hover:to-neutral-100 || dark:text-neutral-300 dark:hover:from-black/50 dark:hover:to-black/80 dark:shadow-none dark:hover:text-neutral-100"
>
  <slot />
</a>
