---
interface Props {
  title: string;
}
import Header from "../components/Header.astro";
// import { ViewTransitions } from "astro:transitions";
import Footer from "../components/Footer.astro";
const { title } = Astro.props;
const theme = Astro.cookies.get("theme")?.value;
---

<!doctype html>
<html lang="en" class={theme === "dark" ? "dark" : "light"}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta
      name="description"
      content="Genshin Impact characters and weapons list"
    />
    <meta name="copyright" content="ISC" />
    <meta property="og:title" content="https://genshin-fans.vercel.app/poster.png" />
    <meta
      name="twitter:image:src"
      content="https://genshin-fans.vercel.app/poster.png"
    />
    <meta name="twitter:card" content="summary_large_image" />

    <meta
      property="og:image:alt"
      content="view of the characters and weaponss in Genshin Impact"
    />
    <meta name="author" content="daniray" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main class="mx-auto pt-14">
      <slot />
      <Footer />
    </main>
    <!--! SLOT is like a Children from React-->
    <style is:global>
      :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          rgb(var(--accent-light)) 30%,
          white 60%
        );
      }
      html {
        scrollbar-gutter: stable;
        /* scrollbar-gutter: stable both-edges; */
      }
      body {
        /* scrollbar-gutter: stable both-edges; */
      }

      @media (prefers-color-scheme: dark) {
        html {
          background: black;
        }
      }
    </style>
    <script is:inline>
      // const cookies = document.cookie;
      // if (!cookies) {
      //   console.log("none")
      //   if (
      //     window.matchMedia &&
      //     window.matchMedia(`(prefers-color-scheme:dark)`).matches
      //   ) {
      //     document.documentElement.classList.add("dark")
      //   }
      // }
    </script>
  </body>
</html>
